<div class="container-fluid" style="height: 100vh;background-color: #48b9e6;">
    <div class="row">
        <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
            <mat-card style="display: flex;flex-direction: column;justify-content: center;margin-top: 10vh;align-items: center;">
                <p>Contact me!</p>
                <form [formGroup]="contactForm" style="display: flex;flex-direction: column;align-items: center;">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Your Name" formControlName="name">
                        <mat-error *ngIf="contactForm.controls.name.errors && contactForm.controls.name.errors.required">
                                Your name is required.
                        </mat-error>

                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Your Email" formControlName="email">
                        <mat-error *ngIf=" contactForm.controls.email.errors &&contactForm.controls.email.errors.required">
                            Your email is required.
                    </mat-error>
                    <mat-error *ngIf="contactForm.controls.email.errors && contactForm.controls.email.errors.email">
                        Please enter valid email.              
                     </mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <textarea matInput type="text" placeholder="Your Message" formControlName="message"></textarea>
                        
                        <mat-error *ngIf="contactForm.controls.message.errors && contactForm.controls.message.errors.required">
                            Your message is required.
                    </mat-error>

                    </mat-form-field>
                    <p style="color: red;font-size: 14px;" *ngIf="nameRequired || emailRequired || messageRequired">
                        Please enter required details.
                    </p>
                    <button 
                    mat-raised-button 
                    style="background-color: #48b9e6; color:white;width: 100px;height: 200x;" 
                    type="button" 
                    (click)="onSubmit($event)" >
                        Send
                    </button>
                </form>
            </mat-card>
        </div>
    </div>
</div>