<mat-card>
    <div  >
        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==1">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                Resolver in Angular 
               
                     <a matTooltip="Go to Blog" mat-icon-button href="https://medium.com/@sanjaygarg_46167/what-is-resolver-in-angular-and-when-to-use-it-2314f587d12a">
                        <mat-icon style="height: 36px;color: white;">near_me</mat-icon>
                        </a>
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                What is Resolver in Angular and when to use it?
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  class="skills" >Angular 10 </mat-card>
                <mat-card  class="skills">Typescript </mat-card>
            </div>
           
        </mat-card>
        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==1">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                Authguard In Angular
                <a matTooltip="Go to Blog" mat-icon-button 
                href="https://medium.com/@sanjaygarg_46167/adding-an-authguard-to-your-angular-application-for-protecting-routes-954189c16655">
                    <mat-icon style="height: 36px;color: white;">near_me</mat-icon>
                    </a>
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                Adding an AuthGuard to your angular application for protecting routes.
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  class="skills" >Angular 10 </mat-card>
                <mat-card  class="skills">Typescript </mat-card>
            </div>
            
        </mat-card>
        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==2">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                Datatable In Angular
                <a matTooltip="Go to Blog" mat-icon-button 
                href="https://medium.com/@sanjaygarg_46167/understanding-and-implementing-datatable-in-angular-using-angular-material-f50673ea5371">
                    <mat-icon style="height: 36px;color: white;">near_me</mat-icon>
                    </a>
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                Understanding and Implementing DataTable in Angular using Angular Material.
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  style="margin-left: 5px;" class="skills" >Angular 10 </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Angular Material </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Typescript </mat-card>
            </div>
        </mat-card>
        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==2">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                SideNavbar using Angular Material
                <a matTooltip="Go to Blog" mat-icon-button 
                href="https://medium.com/@sanjaygarg_46167/implementing-side-navbar-in-angular-using-angular-material-and-angular-flex-layout-f03cb8b6f20c">
                    <mat-icon style="height: 36px;color: white;">near_me</mat-icon>
                    </a>
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                Implementing responsive side navbar in Angular using Angular material and Angular/flex-layout. 
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  style="margin-left: 5px;" class="skills" >Angular 10 </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Angular Material </mat-card>
            </div>
        </mat-card>


        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==3">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                Dialog using Angular Material
                <a matTooltip="Go to Blog" mat-icon-button 
                href="https://medium.com/@sanjaygarg_46167/implementing-modal-dialog-using-angular-material-in-angular-9-5b9750df79d9">
                    <mat-icon style="height: 36px;color: white;">near_me</mat-icon>
                    </a>
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                Implementing Modal/Dialog using Angular/Material in Angular 10.
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  style="margin-left: 5px;" class="skills" >Angular 10 </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Angular Material </mat-card>
            </div>
            
        </mat-card>


        <div style="text-align: center;margin-top: 10px;">
            <button mat-icon-button matTooltip="Previous" (click)="goBack()" style="outline: none;margin-right: 2px;" ><mat-icon>arrow_left</mat-icon></button>
           <span>{{count}}</span>
            <button mat-icon-button matTooltip="Next" (click)="goNext()" style="outline: none;margin-left: 2px;" ><mat-icon>arrow_right</mat-icon></button>
        </div>
</div>
</mat-card>