<mat-card>
    <div  >
        


        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==1">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                Resolver in Angular
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                What is Resolver in Angular and when to use it>
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  style="margin-left: 5px;" class="skills" >Angular 10 </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Typescript </mat-card>
            </div>
        </mat-card>
        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==2">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                Authguard In Angular
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                Adding an AuthGuard to your angular application for protecting routes.
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  style="margin-left: 5px;" class="skills" >Angular 10 </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Typescript </mat-card>
            </div>
        </mat-card>
        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==3">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                Datatable In Angular
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                Understanding and Implementing DataTable in Angular using Angular Material.
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  style="margin-left: 5px;" class="skills" >Angular 10 </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Angular Material </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Typescript </mat-card>
            </div>
        </mat-card>
        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==4">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                SideNavbar using Angular Material
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                Implementing responsive side navbar in Angular using Angular material and Angular/flex-layout. 
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  style="margin-left: 5px;" class="skills" >Angular 10 </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Angular Material </mat-card>
            </div>
        </mat-card>


        <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==5">
            <p style="font-size: 26px;font-weight: 400;color: #ffc966;">
                Dialog using Angular Material
            </p>
            <p style="font-size: 16px;font-weight: 300;color: white;">
                Implementing Modal/Dialog using Angular/Material in Angular 10.
            </p>
            <div class="row" style="display: flex;flex-direction: row;">
                <mat-card  style="margin-left: 5px;" class="skills" >Angular 10 </mat-card>
                <mat-card style="margin-left: 5px;" class="skills">Angular Material </mat-card>
            </div>
            
        </mat-card>


        <div style="text-align: center;margin-top: 10px;">
            <button mat-icon-button matTooltip="Previous" (click)="goBack()" style="outline: none;margin-right: 2px;" ><mat-icon>arrow_left</mat-icon></button>
           <span>{{count}}</span>
            <button mat-icon-button matTooltip="Next" (click)="goNext()" style="outline: none;margin-left: 2px;" ><mat-icon>arrow_right</mat-icon></button>
        </div>
</div>
</mat-card>