    <div class="row" style="min-height: 30vh;background-color: #48b9e6;">
        <div style="margin-bottom: 10vh;" class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
            <mat-card style="display: flex;flex-direction: column;margin-top: 10vh;align-items: center;min-height: 30vh;box-shadow:0px 0px 50px rgba(0,0,0,0.17)">
                <p style="margin-top: 5px;font-size: 30px;font-weight:500;font-family:sans-serif;text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">
                    About me
                </p>
               <div>
                <p style="font-size: 16px;margin-top: 20px;">I am currently working at
                    <span style="font-weight: 500;">
                        Infosys Limited
                    </span> as an 
                    <span style="font-weight: 500;">Angular Developer</span>.
                </p>
                <p style="font-size: 16px;">
                    I was born and brought up in 
                    <span > Punjab</span>
                    and for graduation i went to <span >Panjab university , Chandigarh.</span>
                    I like to travel and build things for web. 
                </p>
                <p style="font-size: 16px;">

                    <span style="font-weight: 500;">
                        Contact No :
                    </span> +91 90414-21558</p>
                    <p style="font-size: 16px;">
                        <span style="font-weight: 500;">
                            Email
                        </span> : sgarg5858@gmail.com</p>
               </div>
               
            </mat-card>
        </div>
    </div>