    <div class="row" style="min-height: 30vh;background-color: #48b9e6;">
        <div style="margin-bottom: 10vh;" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-10 offset-xs-1">
            <mat-card style="display: flex;flex-direction: column;margin-top: 10vh;align-items: center;min-height: 30vh;box-shadow:0px 0px 50px rgba(0,0,0,0.17)">
                <p style="margin-top: 5px;font-size: 30px;font-weight:100;font-family:sans-serif;text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">
                    About me
                </p>
                <p style="margin-top: 5px;text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">
                    I am currently working at
                    <span style="font-weight: 500;">
                        Infosys ltd
                    </span> as an 
                    <span style="font-weight: 500;">Angular Developer</span>.
                </p>
                <p style="text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">
                    I was born and brought up in 
                    <span style="font-weight: 500;"> Punjab</span>
                    and for graduation i went to <span style="font-weight: 500;">Panjab university , Chandigarh.</span>
                    I like to travel and build things for web. 
                </p>
                <p style="text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">Contact No : +91 90414-21558</p>
                <p style="text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">Email : sgarg5858@gmail.com</p>
            </mat-card>
        </div>
    </div>