<div style="margin-top: 5vh;;" class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12 offset-xs-0 col-12">
    <div >

        <mat-card style="box-shadow:0px 0px 50px rgba(0,0,0,0.17);min-height: 60vh;" >
            <div  >
                <div style="display: flex;flex-direction: row;align-content: space-between;margin-bottom: 20px;">
                    <span style="margin-top: 2vh;font-size: 35px;font-weight:400;font-family:sans-serif;text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">
                        Projects</span>
                    <span style="width: 100%;text-align: end;">
                    </span>
                    </div>
                <mat-card style="background-color: #48b9e6;width: 100%;display: flex;flex-direction: column;" *ngIf="count==1">
                    <p style="font-size: 30px;font-weight: 400;color: #ffc966;">
                        Meridian
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        A platform where people can meet,collaborate and attend events.
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        One can create their own meeting rooms with customized room settings like maxParticipants,requirePassword,listen mode only any many more
                        and can schedule their meetings for future and put attendees with room settings as required.
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        Roles and Responsibilities:
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        1. Developed all the business logic for meetings like start meeting,join meeting,schedule meeting and room settings.
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        2. In daily to daily routine we are improving this application for providing better user experience and adding new features.
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        <span style="color: #ffc966;font-weight: 400;"> Technologies used : </span>  Angular , Angular Material , Node.js, Socket.io.
                    </p>
                </mat-card>
                <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==2">
                    <p style="font-size: 30px;font-weight: 400;color: #ffc966;">
                        GNO
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        A platform where people can create and take surveys.
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                       One can create the survey and share the link with users.
                       One can see all the live surveys and take survey if user has permission.
                       Creator can see all the responses with different type of charts.
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        Roles and Responsibilities:
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        1. Developed the business logic for showing all the surveys where users can search and sort surveys.
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        2. Developed my surveys for creators where one can manage their surveys like edit, delete or see responses.
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        <span style="color: #ffc966;font-weight: 400;"> Technologies used: </span>  Angular , Angular Material , Node.js.
                    </p>
                </mat-card>
                <mat-card style="background-color: #48b9e6;width: 100%;margin-top: 10px;display: flex;flex-direction: column;" *ngIf="count==3">
                    <p style="font-size: 30px;font-weight: 400;color: #ffc966;">
                        Devconnect
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        A platform where developers can connect.
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        One can create their account,login and reset password.
                        Developers can create their profile and can also see other developers and can search them by their name, role and location.
                        
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        This is my personal project so i developed this entire application and you can check it out 
                        <span>
                            <a style="color: #ffc966;" href="https://devgram-e39dd.web.app/" target="_blank">here</a>
                        </span>
                        and source code 
                        <span>
                            <a style="color: #ffc966;" href="https://github.com/sgarg5858/Codegram" target="_blank">here</a>
                        </span>
                        .
                    </p>
                    <p style="font-size: 16px;font-weight: 300;color: white;">
                        <span style="color: #ffc966;font-weight: 400;"> Technologies used : </span>  Angular , Angular Material , Firebase.
                    </p>
                </mat-card>
               
               <div style="text-align: center;margin-top: 10px;">
                <button mat-icon-button matTooltip="Previous" (click)="goBack()" style="outline: none;margin-right: 2px;" ><mat-icon>arrow_left</mat-icon></button>
               <span>{{count}}</span>
                <button mat-icon-button matTooltip="Next" (click)="goNext()" style="outline: none;margin-left: 2px;" ><mat-icon>arrow_right</mat-icon></button>
               </div>
        </div>
        </mat-card>
    </div>
</div>