<div class="container-fluid" style="background-color: #48b9e6;">
<div class="row" >
    <div style="margin-top: 5vh;" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-8 offset-xs-2 col-10 offset-1 "> 
        
        
        <mat-card   [@cardAnimation]="cardMovement" [@BounceandShadow]="cardState" style="text-align: center;" *ngIf="showMainCard">
            <div style="width: 100%;display: flex;flex-direction: row;justify-content: space-between;">
            <button 
            matTooltip="Skills"
            mat-icon-button 
            style="color:black;outline: none;background-color: transparent;border: none;"
            (click)="closeMainCard()"
            matTooltipPosition="left"
            >
                <mat-icon>code</mat-icon>
            </button>
            <button 
            matTooltip="Projects"
            mat-icon-button 
            style="color:black;outline: none;background-color: transparent;border: none;"
            (click)="closeMainCard()"
            matTooltipPosition="right"
            >
                <mat-icon>work</mat-icon>
            </button>
            <button 
            matTooltip="Contact"
            mat-icon-button 
            style="color:black;outline: none;background-color: transparent;border: none;"
            (click)="closeMainCard()"
            matTooltipPosition="right"
            >
                <mat-icon>email</mat-icon>
            </button>
            </div>
            <div style="display: flex;flex-direction: column;align-content: center;justify-content: center;align-items: center;">
            <span [@rotateEmoji]="rotateEmoji" class="avatarHover"  style="margin-top: 2vh;">
                <ngx-avatar  [size]="200" src="../../../assets/images/sanjay_emoji.jpg"></ngx-avatar>
            </span>
            <p style="margin-top: 3vh;font-size: 40px;font-weight:300;font-family:sans-serif;text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">
                Sanjay Garg</p>
            <p style="margin-top: 3vh;">
                <ngx-typed-js [strings]="['Frontend Engineer','MEAN Stack Dev','DSA Programmer']" typeSpeed="9"  backSpeed= "9" backDelay="1500" startDelay="1500" loop="true">
                    <h1 class="typing" style="color: black;"></h1>
                </ngx-typed-js> 
            </p>
            <ul style="margin-top: 3vh;display: flex;flex-direction: row;list-style: none;align-content: space-between;padding-left: 0;">
                <li><a href="https://www.linkedin.com/in/sanjay-garg-26bab6153/"  target="_blank" class="fa fa-linkedin"></a></li>
                <li style="margin-left: 2vw;"><a href="https://github.com/sgarg5858" target="_blank" class="fa fa-github"></a></li>
                <li style="margin-left: 2vw;"><a href="https://www.instagram.com/sanjaygarg98/" target="_blank" class="fa fa-instagram"></a></li>
                <li style="margin-left: 2vw;"><a href="https://www.facebook.com/profile.php?id=100005597882484" target="_blank" class="fa fa-facebook"></a></li>
                
            </ul>
         </div>
        </mat-card>


        <mat-card class="lessBorder" [@skillCardAnimation]="skillCardState"   style="margin-bottom: 2vh;height: 100%;" *ngIf="showSkillCard">
            
            <div style="display: flex;flex-direction: row;align-content: space-between;">
            <span style="margin-top: 2vh;font-size: 40px;font-weight:100;font-family:sans-serif;text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">
                Skills</span>
            <span style="width: 100%;text-align: end;">
                <button 
            mat-icon-button 
            style="color:black;outline: none;background-color: transparent;border: none;"
            (click)="openMainCard()"
            matTooltip="Go Back"
            matTooltipPosition="right"
            >
            <mat-icon>close</mat-icon>
            </button>
            </span>
            </div>
            <div [@skillsAnimation]="skillsState" style="margin-top: 3vh;display: flex;flex-direction: column;">
                <div class="row">
                    <div class="col-12">
                        <mat-card   class="skillCardList">
                            Angular 10
                        </mat-card>  
                    </div>  
                    <div class="col-12">
                        <mat-card class="skillCardList">
                            Redux 
                        </mat-card> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-card class="skillCardList">
                            Typescript
                        </mat-card>  
                    </div>  
                    <div class="col-12">
                        <mat-card class="skillCardList">
                            Node.js 
                        </mat-card> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-card class="skillCardList">
                           Java
                        </mat-card>  
                    </div>  
                    <div class="col-12">
                        <mat-card class="skillCardList">
                            Html5, CSS3
                        </mat-card> 
                    </div>
                </div>
                <div class="row">

                    <div class="col-12">
                        <mat-card class="skillCardList">
                            Bootstrap
                        </mat-card> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-card class="skillCardList">
                           Data Structures and Algorithms
                        </mat-card>  
                    </div>  
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-card class="skillCardList">
                           Angular Animations and Service Workers
                        </mat-card>  
                    </div>  
                </div>
                
         </div>
        </mat-card>
    </div>
</div>
<app-projects></app-projects>
<app-contact></app-contact>
</div>
