mat-card{
    border-radius: 20px;
}

mat-icon,mat-icon.matListIcon{
  outline:none !important;

}
.fa {
    padding: 11px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .avatarHover {
    transform: scale(1.0);
    transition: transform 300ms;  
    transition-timing-function: linear;
  }
  

  .avatarHover:hover {
    transform: scale(1.1);
  }
  
  /* Add a hover effect if you want */

  .fa {
    transform: scale(1.0);
    transition: transform 300ms;  
    transition-timing-function: linear;
  }
  

  .fa:hover {
    transform: scale(1.1);
  }
  
  .fa-facebook {
    background: #405DE6;
    color: white;
  }
  .fa-github {
    background: #000000;
    color: white;
  }
  .fa-linkedin {
    background: #0e76a8;
    color: white;
  }
  .fa-instagram {
    background: #F77737;
    color: white;
  }
  .fa-code {
    background: grey;
    color: white;
  }
  
  .overLaySkillCard{
    z-index: 5;
  }