mat-card{
    border-radius: 20px;
}
mat-card.lessBorder{
  border-radius: 5px;
}
mat-card.skillCardList{
  border-radius: 5px;
  box-shadow:2px 2px 10px grey !important;
  margin-top: 1vh;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  font-family: sans-serif;
  border-left: 5px solid #48b9e6;
  transform: scale(1);
  transition: transform 300ms;
  transition-timing-function: linear;
}
mat-card.skillCardList:hover{
  transform: scale(1.05);
}

mat-icon,mat-icon.matListIcon{
  outline:none !important;

}
mat-icon.location{
  color: dodgerblue;
}
.fa {
    padding: 11px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .avatarHover {
    transform: scale(1.0);
    transition: transform 300ms;  
    transition-timing-function: linear;
  }
  

  .avatarHover:hover {
    transform: scale(1.1);
  }
  
  /* Add a hover effect if you want */

  .fa {
    transform: scale(1.0);
    transition: transform 300ms;  
    transition-timing-function: linear;
  }
  

  .fa:hover {
    transform: scale(1.1);
  }
  
  .fa-facebook {
    background: #405DE6;
    color: white;
  }
  .fa-github {
    background: #000000;
    color: white;
  }
  .fa-linkedin {
    background: #0e76a8;
    color: white;
  }
  .fa-instagram {
    background: #F77737;
    color: white;
  }
  .fa-code {
    background: grey;
    color: white;
  }
  
  .overLaySkillCard{
    z-index: 5;
  }
  mat-card{
    border-radius: 15px;
}
mat-form-field{
    width: 240px;
}
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

  /* ************** */
  

  .skills{
    border-radius: 10px;
    height: 50px;
    min-width: 140px;
    padding: auto;
    max-height: 100px;
    background-color: #48b9e6;
    color: #ffc966;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.17);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 10px;
}
