<div class="container-fluid"  style="background-color: #48b9e6;">
<div class="row" style="height: 100vh;">
    <div style="margin-top: 20px;display: flex;flex-direction: column;align-content: center;justify-content: center;" class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-8 offset-xs-2 col-10 offset-1 " *ngIf="showMainCard || showSkillCard"> 
        
        
        <mat-card   [@cardAnimation]="cardMovement" [@BounceandShadow]="cardState" style="text-align: center;" *ngIf="showMainCard">
            
            <!-- Three top icons -->
            <div style="width: 100%;display: flex;flex-direction: row-reverse;justify-content: space-between;">
            <button 
            matTooltip="Skills"
            mat-icon-button 
            style="outline: none;background-color: transparent;border: none;"
            (click)="closeMainCard('skills')"
            matTooltipPosition="left"
            >
                <mat-icon style="color: #48b9e6;">menu</mat-icon>
            </button>
            <!-- <button 
            matTooltip="Projects"
            mat-icon-button 
            style="color:black;outline: none;background-color: transparent;border: none;"
            (click)="closeMainCard('projects')"
            matTooltipPosition="right"
            >
                <mat-icon>work</mat-icon>
            </button> -->
            <!-- <button 
            matTooltip="Contact"
            mat-icon-button 
            style="color:black;outline: none;background-color: transparent;border: none;"
            (click)="closeMainCard('contact')"
            matTooltipPosition="right"
            >
                <mat-icon>email</mat-icon>
            </button> -->
            </div>
            <!-- icons end -->

            <div style="display: flex;flex-direction: column;align-content: center;justify-content: center;align-items: center;">
            
                <span [@rotateEmoji]="rotateEmoji" class="avatarHover"  style="margin-top: 2vh;">
                    <ngx-avatar  [size]="150" src="../../../assets/images/sanjay_emoji.jpg"></ngx-avatar>
                 </span>

                <p style="margin-top: 2vh;font-size: 40px;font-weight:300;font-family:sans-serif;text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">
                Sanjay Garg
                </p>

                <p style="margin-top: 2vh;">
                <ngx-typed-js [strings]="['Frontend Engineer','Angular Developer','DSA Programmer']" typeSpeed="9"  backSpeed= "9" backDelay="1500" startDelay="1500" loop="true">
                    <h1 class="typing" style="color: black;"></h1>
                </ngx-typed-js> 
            </p>

            <ul style="margin-top: 2vh;display: flex;flex-direction: row;list-style: none;align-content: space-between;padding-left: 0;">
                <li><a href="https://www.linkedin.com/in/sanjay-garg-26bab6153/"  target="_blank" class="fa fa-linkedin"></a></li>
                <li style="margin-left: 2vw;"><a href="https://github.com/sgarg5858" target="_blank" class="fa fa-github"></a></li>
                <li style="margin-left: 2vw;"><a href="https://www.instagram.com/sanjaygarg98/" target="_blank" class="fa fa-instagram"></a></li>
                <li style="margin-left: 2vw;"><a href="https://www.facebook.com/profile.php?id=100005597882484" target="_blank" class="fa fa-facebook"></a></li>
                
            </ul>
         </div>
        </mat-card>


        <mat-card class="lessBorder" [@skillCardAnimation]="skillCardState"  *ngIf="showSkillCard" style="box-shadow:0px 0px 50px rgba(0,0,0,0.17)">
            
            <div style="display: flex;flex-direction: row;align-content: space-between;">
            <span style="margin-top: 2vh;font-size: 40px;font-weight:100;font-family:sans-serif;text-shadow: 1px 6px 4px rgba(0,0,0,0.1), 0px -5px 12px rgba(255,255,255,0.3);">
                Skills</span>
            <span style="width: 100%;text-align: end;">
                <button 
            mat-icon-button 
            style="color:black;outline: none;background-color: transparent;border: none;"
            (click)="openMainCard('skills')"
            matTooltip="Go Back"
            matTooltipPosition="right"
            >
            <mat-icon>close</mat-icon>
            </button>
            </span>
            </div>
            <div  style="margin-top: 3vh;display: flex;flex-direction: column;">
                <div class="row">
                    <div class="col-12">
                        <mat-card   class="skillCardList">
                            Angular 10
                        </mat-card>  
                    </div>  
                    <div class="col-12">
                        <mat-card class="skillCardList">
                            Redux 
                        </mat-card> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-card class="skillCardList">
                            Typescript
                        </mat-card>  
                    </div>  
                    <div class="col-12">
                        <mat-card class="skillCardList">
                            Node.js 
                        </mat-card> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-card class="skillCardList">
                           Java
                        </mat-card>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <mat-card class="skillCardList">
                           Data Structures & Algorithms
                        </mat-card>  
                    </div>  
                </div> 
                <div class="row">
                    <div class="col-12">
                        <mat-card class="skillCardList">
                            Html5, CSS3, Bootstrap
                        </mat-card>  
                    </div>  
                </div> 
         </div>
        </mat-card>
        
    </div>

    <div style="margin-top: 2vh;align-items: center;width: 100%;" *ngIf="showScroll">
        <div class="container">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
          </div>
    </div> 
</div>


<div class="row">
    <app-projects></app-projects>
</div>
<app-contact></app-contact>
<app-about></app-about>
</div>
