    <div class="row" style="background-color: #48b9e6;min-height:100vh;height: 100vh;">
        <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-12 ">
            <mat-card style="border-radius: 10px;display: flex;flex-direction: column;margin-top: 10vh;align-items: center;min-height:90vh;height: 90vh;box-shadow:0px 0px 50px rgba(0,0,0,0.17)" [style.overflow]="'auto'" [style.height.px]="'300'">
                <mat-tab-group mat-align-tabs="center" style="width: 100%;">
                    <mat-tab  style="background: #48b9e6;">
                        <ng-template matTabLabel>
                            <span matBadge="4" matBadgeOverlap="false">Projects</span>
                        </ng-template>
                        <app-industry-projects></app-industry-projects>
                    </mat-tab>
                  </mat-tab-group>
            </mat-card>
        </div>
    </div>